.card{
    width: 300px;
    height: fit-content;
    color: #20232a;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.card:hover{
    background-color: wheat;
    color: red;
    cursor: pointer;
}